<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingJson" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
    </bindings>    
    <services>
      <service name="EjemploWcfJson.Servicio.Persona" >
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingJson" contract="EjemploWcfJson.Servicio.IPersona" behaviorConfiguration="web"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>